<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="focskiService" class="org.franck.focski.service.ImplFocskiInscriptionManager">
        <property name="adherentEngine" ref="AdherentEngine"/>
        <property name="licencieEngine" ref="LicencieEngine"/>
        <property name="smtpConnector" ref="SmtpConnector"/>
    </bean>

    <bean id="AdherentEngine" class="org.franck.focski.dao.ImpAdherentEngine">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="LicencieEngine" class="org.franck.focski.dao.ImpLicencieEngine">
        <property name="dataSource" ref="dataSource"/>
    </bean>

     <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    

	<bean id="SmtpConnector" class="org.franck.focski.smtp.ImpSmtpConnector">
		<property name="mailSender" ref="mailSender"></property>
		<property name="mailMessage" ref="mailMessage"></property>
	</bean>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.host}" />
		<property name="protocol" value="${mail.protocol}" />
		<property name="port" value="${mail.port}" />
	</bean>

	<bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage">
		<property name="from" value="${mailmessage.from}"/>
		<property name="bcc" value="${mailmessage.bcc}"/>
	</bean>

	<bean id="arretBus" class="org.franck.focski.modele.LesArretsDeBus">
		<property name="laListeDesArretsDuMercredi" value="${list.arrets.bus.mercredi}"/>
	</bean>


    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:mail.properties</value>
                <value>classpath:focski.properties</value>
            </list>
        </property>
    </bean>
    
    <bean id="transactionManager" 
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>